@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.select-disable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Munale';
    src: url(../assets/fonts/munale/Munale\ Loird.otf);
    font-weight: normal;
}

body::-webkit-scrollbar-track {
    background-color: #0C0C0C;
}

body::-webkit-scrollbar-thumb {
    background-color: #DAA250;
    border-radius: 5px;
}

body::-webkit-scrollbar {
    width: 7px;
}

body {
    scrollbar-width: thin;
    font-family: 'Mulish', sans-serif;
    background-color: #fcfcfc;
    overflow-x: hidden;
}

#dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    height: 100vh;
    color: #FFf;
    background: radial-gradient(57.36% 57.36% at 50% 42.64%, #151515 0%, #0C0C0C 100%);
    border-right: 2px solid #DAA250;
    gap: 2vh;
    padding: 0.6rem;
    top: 0;
    left: 0;
}

nav img {
    max-width: 13vw;
}

.texto-user {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 5vh 0;
}

#b_usuario {
    align-self: center;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 55vh;
    gap: 5vh;
    padding-left: 1vw;
}

.nav-list a {
    display: flex;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    gap: 1.4vw;
}

.nav-list a:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0.3rem;
}

.pag-atual {
    border-bottom: 1px solid #DAA250 !important;
    border-radius: 5px;
}

.pag-atual:hover {
    border-bottom: 1px solid #FFF !important;
    transition: 0.5s;
}

li span {
    font-size: 1.1vw;
}

.icon-nav {
    max-width: 1.5vw !important;
}

nav button {
    width: 6vw;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: #FF0000;
    font-weight: 700;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #FF0000;
    padding: 0.3rem;
    transition: 0.5s ease;
}

nav button:hover {
    color: #000;
    background-color: #FF0000;
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -o-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    cursor: pointer;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 85%;
    height: 100vh;
    background: linear-gradient(to bottom, #0C0C0C, #1F1F1F);
    padding: 2rem;
    margin-left: 15%;
    overflow: hidden;
}

.first-div-container {
    width: 55%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;
}

.titulo {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    font-family: 'Mulish';
    letter-spacing: 1px;
    font-weight: 700;
}

.cadastro {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.column-form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 3vh;
}

.column-form div {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.column-form span {
    color: #FFF;
    font-size: 16px;
}

.column-form input {
    color: #FFF;
    border-radius: 25px;
    background-color: #151515;
    border: transparent;
    border-bottom: 2px solid #E0E0E0;
    transition: 0.5s ease-in;
    padding: 5px;
    outline: none;
}

.column-form input:hover {
    border-radius: 15px;
    transition: 0.5s ease-in;
    cursor: pointer;
}

.column-form input::placeholder {
    color: #E0E0E0;
}

.column-form input:focus {
    outline: none;
    border-bottom: 2px solid #DAA250;
    transition: 0.5s ease-in;
}

.btn_cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100px;
    color: #361B08;
    font-weight: 700;
    background: #FDFF87;
    border: none;
    border-radius: 15px;
    padding: 10px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.btn_cadastro:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    background-color: #FCF6C1;
    box-shadow: 0px 0px 4px #FDFF87;
    transition: 0.2s ease-in;
}

.second-div_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 90vh;
}

.table-container {
    width: 70%;
    height: 80vh;
    color: #FFF;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #DAA250;
    box-shadow: 3px 3px 5px #DAA25099;
    overflow: hidden scroll;
}

.table-container::-webkit-scrollbar {
    width: 7px;
}

.table-container::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #DAA250, #0C0C0C);
    border-radius: 5px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #151515;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}

table {
    width: 100%;
    text-align: center;
    background: transparent;
}

table thead tr td,
table tbody tr td {
    width: 33%;
    height: 40px;
    padding: 15px;
    border-bottom: 1px solid #FFF;
}

table thead tr td {
    color: #FFF;
    font-weight: 700;
    font-size: 19px;
    border-bottom: 1px solid #DAA250 !important;
}

.btn-crud {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 3vh;
    color: #FFF;
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 2px;
    transition: 0.5s ease-in;
    outline: none;
    cursor: pointer;
}

.red {
    color: #FF5555;
    border-color: #FF5555;
}

.green {
    color: #74C365;
    border-color: #489e37;
}

.blue {
    color: cornflowerblue;
    border-color: rgb(75, 135, 245);
}

.btn-crud.red:hover {
    color: #FFF;
    background: #FF5555;
    transition: 0.5s ease-in;
}

.btn-crud.green:hover {
    color: #FFF;
    background: #74C365;
    transition: 0.5s ease-in;
}

.btn-crud.blue:hover {
    color: #FFF;
    background: cornflowerblue;
    transition: 0.5s ease-in;
}

.input-container {
    display: flex;
    justify-content: center;
  }

  .input-container input {
    color: #FFF;
    border-radius: 25px;
    background-color: #151515;
    border: transparent;
    border-bottom: 2px solid #E0E0E0;
    transition: 0.5s ease-in;
    padding: 12px;
    outline: none;
    width: 15vw;
  }

  .input-container input:hover {
    border-radius: 15px;
    transition: 0.5s ease-in;
    cursor: pointer;
  }

  .custom-title {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    font-family: 'Mulish';
    letter-spacing: 1px;
    font-weight: 700;
  }

  .div_direita {
    display: flex;
flex-direction: column;
position: absolute;
right: 10px;
top: 70px;
  }


  .div_direita input {
    color: #FFF;
    border-radius: 25px;
    background-color: #151515;
    border: transparent;
    border-bottom: 2px solid #E0E0E0;
    transition: 0.5s ease-in;
    padding: 12px;
    outline: none;
    width: 15vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
  }


  .erro {
    border: 2px solid #FF5555;
  }

  .correto {
    border: 2px solid #74C365;
  }