@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.select-disable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Munale';
    src: url(../assets/fonts/munale/Munale\ Loird.otf);
    font-weight: normal;
}

body::-webkit-scrollbar-track {
    background-color: #0C0C0C;
}

body::-webkit-scrollbar-thumb {
    background-color: #DAA250;
    border-radius: 5px;
}

body::-webkit-scrollbar {
    width: 7px;
}

body {
    scrollbar-width: thin;
    font-family: 'Mulish', sans-serif;
    background-color: #fcfcfc;
    overflow-x: hidden;
}

#dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    height: 100vh;
    color: #FFf;
    background: radial-gradient(57.36% 57.36% at 50% 42.64%, #151515 0%, #0C0C0C 100%);
    border-right: 2px solid #DAA250;
    gap: 2vh;
    padding: 0.6rem;
    top: 0;
    left: 0;
}

nav img {
    max-width: 13vw;
}

.texto-user {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding: 5vh 0;
}

#b_usuario {
    align-self: center;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 55vh;
    gap: 5vh;
    padding-left: 1vw;
}

.nav-list a {
    display: flex;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    gap: 1.4vw;
}

.nav-list a:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0.3rem;
}

.pag-atual {
    border-bottom: 1px solid #DAA250 !important;
    border-radius: 5px;
}

.pag-atual:hover {
    border-bottom: 1px solid #FFF !important;
    transition: 0.5s;
}

li span {
    font-size: 1.1vw;
}

.icon-nav {
    max-width: 1.5vw !important;
}

nav button {
    width: 6vw;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: #FF0000;
    font-weight: 700;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #FF0000;
    padding: 0.3rem;
    transition: 0.5s ease;
}

nav button:hover {
    color: #000;
    background-color: #FF0000;
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -o-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
    cursor: pointer;
}

#content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 85%;
    height: 100vh;
    background: linear-gradient(to bottom, #0C0C0C, #1F1F1F);
    padding: 2rem 3rem;
    margin-left: 15%;
    gap: 5vh;
    overflow: hidden;
}

.first-div-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 45vh;
    gap: 5vw;
}

.chart-container-grande {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 65%;
    height: 45vh;
    gap: 2vh;
}

.div-chart-grande {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    background-color: #151515;
    border: 1px solid #DAA250;
    border-radius: 6px;
    padding: 10px;
}

.div-info-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 45vh;
    gap: 15px;
}

.info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45vh;
    background-color: #151515;
    border: 1px solid #DAA250;
    border-radius: 6px;
    padding: 15px;
}

.info-row div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    color: #FFF;
    font-weight: 700;
    font-size: 17px;
    gap: 1vw;
}

.info-row div span {
    font-size: 25px;
}

.info-row img {
    max-width: 3.5rem;
}

.second-div-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.chart-container-medium {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: fit-content;
    gap: 2vh;
}

.chart-container-medium:nth-child(2) .div-chart-medium::-webkit-scrollbar-track {
    background-color: #000;
    border-radius: 3px;
}

.chart-container-medium:nth-child(2) .div-chart-medium::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #DAA250, #0C0C0C);
    border-radius: 5px;
}

.chart-container-medium:nth-child(2) .div-chart-medium::-webkit-scrollbar {
    height: 7px;
}

.chart-container-medium:nth-child(2) .div-chart-medium {
    overflow: scroll hidden !important;
}

.first-div-container h2,
.second-div-container h2 {
    color: #FFF;
    font-family: 'Mulish';
    font-size: 22px;
}

.div-chart-medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28vw;
    height: 35vh;
    background-color: #151515;
    border: 1px solid #DAA250;
    border-radius: 6px;
    padding: 10px;
}

.alert-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20vw;
    height: 35vh;
    border-radius: 6px;
    gap: 3vh;
}

input {
    width: 100%;
    height: 3vh;
    border-radius: 15px;
    background-image: url(../assets/img/icones/lupa.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 15px;
    background-size: 15px;
    background-color: #1F1F1F;
    border: 1px solid #000;
    color: #FFF;
    text-align: right;
    padding: 0.7rem;
    margin: 0 2vw 0 2vw;
    transition: 0.5s ease-in-out;
}

input:hover {
    border-color: #E0E0E0;
    cursor: pointer;
}

input::placeholder {
    color: #E0E0E0;
}

input:focus {
    outline: none;
    border-color: #FFF;
    box-shadow: 2px 1px 2px #FFF;
}

.alert-row::-webkit-scrollbar-track {
    background-color: #000;
    border-radius: 3px;
}

.alert-row::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #DAA250, #0C0C0C);
    border-radius: 3px;
}

.alert-row::-webkit-scrollbar {
    width: 7px;
}

.alert-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3vh;
    overflow: hidden scroll;
}

.alert-row .bloco {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #151515;
    border: 1px solid #DAA250;
    border-radius: 6px;
    color: #FFF;
    padding: 15px;
}

.alert-div div img {
    max-width: 25px;
}

@keyframes shake {
    0% {
        transform: translate3d(0, 0, 0);
    }

    10%,
    90% {
        transform: translate3d(-0.5px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(1px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-1px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(1px, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

.info-img {
    position: absolute;
    max-width: 25px;
    top: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    animation: shake 2s cubic-bezier(.36, .07, .19, .97) infinite;
    animation-play-state: running;
    cursor: pointer;
}

.info-img.paused {
    animation-play-state: paused;
    animation-delay: 2s;
}

.modal {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #00000011;
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: 0.4s ease-in;
    z-index: 2;
}

.modal.show {
    opacity: 1;
    transition: 0.4s ease-in;
}

.modal .box-modal {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70rem;
    height: 30rem;
    background: #151515;
    color: #FFF;
    font-size: 19px;
    border-radius: 5px;
    gap: 5vh;
    padding: 2.5rem;
}

.modal .box-modal::before,
.modal .box-modal::after {
    content: '';
    position: absolute;
    width: calc(100% + 7px);
    height: calc(100% + 7px);
    background: linear-gradient(45deg, #DAA250, #d4af37, #e9cb68, #e7d390, #DAA250, #d4af37);
    background-size: 500%;
    background-position: 100%;
    border-radius: 5px;
    animation: borderAnimation 8s linear alternate infinite;
    z-index: -1;
    top: -4px;
    right: -4px;
}

.box-modal::after {
    filter: blur(2px);
}

@keyframes borderAnimation {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 200%;
    }
}

.modal .box-modal img {
    position: absolute;
    max-width: 2rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.modal .box-modal h2 {
    font-size: 28px;
    font-weight: 700;
    color: #DAAA50FF;
    letter-spacing: 2px;
}

text.green {
    color: #74C365;
}

text.yellow {
    color: #FFCC00;
}

text.orange {
    color: #FF9900;
}

text.red {
    color: #FF5555;
}

.state-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.state-box h3 {
    align-self: flex-start;
    color: #DAAA50FF;
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 500;
}

.state-box .states {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.state-box .states div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 100% !important;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
    padding: 0.5rem;
    user-select: none;
}